<div class="site-dock" aria-label="Site pages">
    <img class="site-dock-platform" src="/images/desktop/dock-platform.png" alt="">
    <nav class="site-dock-icons" aria-label="Quick page links">
        <a href="/about.html" data-page="about"><img src="/images/dock/about-publishing-icon.png" alt=""><span>About Us</span></a>
        <a href="/books.html" data-page="books"><img src="/images/dock/book-gallery-books-icon-03-remade.png" alt=""><span>Book Gallery</span></a>
        <a href="/order.html" data-page="order"><img src="/images/dock/shop-package-icon-03-remade.png" alt=""><span>Order Books</span></a>
        <a href="/learning.html" data-page="learning"><img src="/images/dock/learning-resources-folder-documents-icon.png" alt=""><span>Learning</span></a>
        <a href="/courses.html" data-page="courses"><img src="/images/dock/courses-desktop-computer-icon.png" alt=""><span>Courses</span></a>
        <a href="/contact.html" data-page="contact"><img src="/images/dock/mail-package-icon-01-remade.png" alt=""><span>Contact</span></a>
    </nav>
</div>
